{{ $defaultWidth := 900 }}
{{ $defaultHeight := 510 }}
{{ if hasPrefix .Destination "/image" }}
{{ $img := resources.Get .Destination }}
{{ if and $img (eq $img.MediaType.Type "image") }}
{{ $width := $img.Width | default $defaultWidth }}
{{ $height := $img.Height | default $defaultHeight }}
{{ if ne $img.MediaType.SubType "svg" }}
<img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" width="{{ $width }}" height="{{ $height }}"
    style="max-width: 100%; height: auto;" />
{{ else }}
<img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
{{ end }}
{{ else }}
<img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" width="{{ $defaultWidth }}"
    height="{{ $defaultHeight }}" style="max-width: 100%; height: auto;" />
{{ end }}
{{ else }}
<img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
{{ end }}